{% layout "layout.liquid" %}
{% block content %}

<nav class="breadcrumb container" aria-label="breadcrumbs">
  <ul>
    <li><a href="/days"><i class="fa fa-home"></i>&nbsp;&nbsp;Days</a></li>
    <li><a href="/days/{{ day._id }}"><i class="fas fa-dumbbell"></i>&nbsp;&nbsp;Workout</a></li>
    <li><a href="/days/{{ day._id }}/edit"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Workout</a></li>
  </ul>
</nav>
<div class="container box has-text-centered">
  <form action="/days/{{ day._id }}?_method=PUT" method="post">
    <fieldset>
      <legend class="title is-4">Let's change Day {{ day.name }}</legend>
      {% comment %}
      <label>
        Day # <input type="text" name="name" value="{{ newDay }}" />
      </label>
      {% endcomment %}
      <br>
      
      <div class="control">
        <label class="radio">
          <input type="radio" name="workoutType"
          {% if day.workoutType == "Rest" %}
            checked value="Rest"
          {% endif %}
          > Rest&nbsp;&nbsp;
        </label>
        <label class="radio">
          <input type="radio" name="workoutType"
          {% if day.workoutType == "Pull" %}
            checked value="Pull"
          {% endif %}
          > Pull&nbsp;&nbsp;
        </label>
        <label class="radio">
          <input type="radio" name="workoutType"
          {% if day.workoutType == "Push" %}
            checked value="Push"
          {% endif %}
          > Push&nbsp;&nbsp;
        </label>
        <label class="radio">
          <input type="radio" name="workoutType"
          {% if day.workoutType == "Legs" %}
            checked value="Legs"
          {% endif %}
          > Legs
        </label>
      </div>
      
    </fieldset>
    <input class="button is-primary mt-4" type="submit" value="Change Day {{ day.name }}">
  </form>
</div>

{% endblock %}
