{% layout "layout.liquid" %}
{% block content %}

<nav class="breadcrumb container" aria-label="breadcrumbs">
  <ul>
    <li><a href="/days"><i class="fas fa-home"></i>&nbsp;&nbsp;Days</a></li>
    <li><a href="/days/{{ day._id }}"><i class="fas fa-dumbbell"></i>&nbsp;&nbsp;Workout</a></li>
  </ul>
</nav>
<div class="container box">
  <!-- <hr> -->
  <!-- <a href="/days" class="button is-link mb-4">Back</a> -->
  <article>
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-centered">
          Day: {{ day.name }}
        </h1>
      </div>
      <div class="level-right">
        <form class="level-item" action="/days/{{ day._id }}?_method=DELETE" method="post">

          {% comment %} jQuery here to toggle Bulma's "is-hidden" class for popup delete confirmation {% endcomment %}
          <script>
            function confirmDelete() {
              $(".delete-notification").removeClass("is-hidden");
              $("#delete-button").addClass("is-hidden");
              $("#generic-modal").css("display", "block");
            } 
            function hideDelete() {
              $(".delete-notification").addClass("is-hidden");
              $("#delete-button").removeClass("is-hidden");
              $("#generic-modal").css("display", "none");
            }
          </script>
          <div id="generic-modal">
            <div class="delete-notification is-hidden notification is-danger is-light">
              <button class="delete is-medium" type="button" onclick="hideDelete()"></button>
              <br>
              <div class="block">
                Are you sure?
              </div>
              <div class="block has-text-centered">
                <input type="submit" class="button is-danger is-rounded" value="YES">
                <button class="box button is-danger is-light is-rounded ml-5 mt-3" type="button" onclick="hideDelete()">No</button>
              </div>
            </div>
          </div>
        </form>
        <div class="level-item">

          <button id="delete-button" class="level-item button is-danger is-rounded mr-3" onclick="confirmDelete()">DELETE</button>
        </div>
        <div class="level-item">
          <a href="/days/{{ day._id }}/edit" class="button is-warning is-rounded">Edit Workout Type</a>
        </div>
      </div>
    </div>
    
    <h1 class="title is-3 has-text-centered">
      {{ day.workoutType }}
    </h1>
    {% if day.workoutType == "Rest" %}
      <p class="has-text-centered pb-4">Take a load off! You've earned it.</p>
    {% else %}
    {% endif %}

    <!-- change the below line to link to the exercise list -->
    {% if day.workoutType != "Rest" %}
      <div class="columns">
        <div class="column has-text-centered">
            <a href="/days/{{ day._id }}/edit_exercises" class="button is-warning is-rounded">Edit Exercises</a>
          </div>
        </div>
        <table class="table is-striped is-narrow is-hoverable container">
          <thead>
            <tr>
              <th>Video</th>
              <th>Exercise</th>
              <th>Weight</th>
              <th>Sets</th>
              <th>Reps</th>
            </tr>
          </thead>
          <tbody>
            {% for theExercise in day.exercises %}
            
            <tr class="m-0">
              <td>
                <button id="{{ theExercise.name | remove:" " }}" class="button-howto button is-info is-light">
                  <i class="fas fa-video"></i>
                </button>
              </td>
              <td>{{ theExercise.name }}</td>
              <td>{{ theExercise.weight }} lbs</td>
              <td>{{ theExercise.sets }}</td>
              <td>{{ theExercise.reps }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
  </article>
</div>

<!-- modal popup for youtube video -->
<div id="modal">
  <div class="container box has-text-centered" id="modal-item">
    <!-- <a id="close" href="#">CLOSE</a> -->
    <button id="close" class="delete is-large"></button>
    <br>
    <iframe class="{{ APIKEY }}" id="youtube-modal" title="Youtube video for the exercise" allowfullscreen="true" allowscriptaccess="always"></iframe>
  </div>
</div>



{% endblock %}
