{% layout "layout.liquid" %}
{% block content %}

<nav class="breadcrumb container" aria-label="breadcrumbs">
  <ul>
    <!-- maybe add font-awesome icons here -->
    <li><a href="/days">Days</a></li>
    <li><a href="/days/{{ day._id }}">Workout</a></li>
    <li><a href="/days/{{ day._id }}/edit_exercises">Edit Exercises</a></li>
  </ul>
</nav>
<div class="container box">
  <article>
    <h1 class="title is-4">
      Day: {{ day.name }}
    </h1>
    <h1 class="title is-3 has-text-centered">
      {{ day.workoutType }}
    </h1>
    <div class="columns">
      <div class="column has-text-centered">
        <input class="button is-primary mt-4" type="submit" value="Change it">
      </div>
    </div>
    <table class="table container">
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Weight</th>
          <th>Sets</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        {% for theExercise in day.exercises %}
          <tr>
            <td>{{ theExercise.name }}</td>
            <td>{{ theExercise.weight }} lbs</td>
            <td>{{ theExercise.sets }}</td>
            <td>{{ theExercise.reps }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
</div>

{% endblock %}